#title {
  border: 10px lightgray solid;
  border-radius: 50px;
  text-align: center;
  color: lightgray;
  background-color: black;
}

body {
  background-color: darkgray
}

#Calbtn {
  background-color: red;
}

#Musbtn {
  background-color: deeppink;

}

#Dribtn {
  background-color: blue;

}

#Schbtn {
  background-color: Green;

}

#mailbtn {
  background-color: purple;

}

#clabtn {
  background-color: gree;

}

#chatbtn {
  
}

#youbtn {
  
}

#spanbtn {

}