#title {
  border: 10px lightgray solid;
  border-radius: 50px;
  text-align: center;
  color: lightgray;
  background-color: black;
}

body {
  background-color: darkgray
}

#Calbtn {
  background-color: red;
}

#Musbtn {
  background-color: deeppink;
  color: black;

}

#Dribtn {
  background-color: blue;

}

#Schbtn {
  background-color: Green;

}

#mailbtn {
  background-color: purple;

}

#clabtn {
  background-color: darkgreen;

}

#chatbtn {
  background-color: goldenrod;

}

#youbtn {
  background-color: darkred;

}

#spanbtn {
  background-color: darkblue;

}